<!DOCTYPE html>
<html>
	<% include ./partials/_header %>
	<body class="mdc-typography">
		<div class="container" id="container-article-all">
			<div class="row">
				<div class="col-xs-8">
					<p>Analyse de l'article</p>
					<p><%= result %></p>
					<p><%= sentiment %></p>
					<p><%= isSatirical %></p>
					So far ce qui est accessible:

					WOT data
					Seintiment analysis et Language analysis
					isSatirical Website boolean
					<a href="/">Return home</a>
				</div>
				<div class="col-xs-4">
					<div class="mdc-grid-list">
						<ul id="related-articles" class="mdc-grid-list__tiles">
							<%for(var i=0; i<articles.length; i++) {%>
							<% var alt = articles[i].image.alt != null ? articles[i].image.alt : "Image de l'article non accessible"%>
							<% var src = articles[i].image.href != null ? articles[i].image.href : "public/thumbnail-radio-canada.png"%>
							<li class="mdc-grid-tile">
								<div class="mdc-grid-tile__primary">
									<img class="mdc-grid-tile__primary-content" alt="<%alt%>"src="<%=src%>" />
								
								</div>
								<span class="mdc-grid-tile__secondary">
									<a href="<%articles[i].link%>"><span class="mdc-grid-tile__title"><%=articles[i].title%></span></a>
								</span>
							</li>
							<% }%>
						</ul>

					</div>

				</div>
			</div>

	</body>
</html>
